@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: Inter, sans-serif;
  --color-custom-base00: rgb(var(--color-base00));
  --color-custom-base01: rgb(var(--color-base01));
  --color-custom-base02: rgb(var(--color-base02));
  --color-custom-base03: rgb(var(--color-base03));
  --color-custom-base04: rgb(var(--color-base04));
  --color-custom-base05: rgb(var(--color-base05));
  --color-custom-base06: rgb(var(--color-base06));
  --color-custom-base07: rgb(var(--color-base07));
  --color-custom-base08: rgb(var(--color-base08));
  --color-custom-base09: rgb(var(--color-base09));
  --color-custom-base0A: rgb(var(--color-base0A));
  --color-custom-base0B: rgb(var(--color-base0B));
  --color-custom-base0C: rgb(var(--color-base0C));
  --color-custom-base0D: rgb(var(--color-base0D));
  --color-custom-base0E: rgb(var(--color-base0E));
  --color-custom-base0F: rgb(var(--color-base0F));
}

:root {
  --color-base00: 255 255 255; /* white */
  --color-base01: 240 240 240;
  --color-base02: 220 220 220;
  --color-base03: 180 180 180;
  --color-base04: 150 150 150;
  --color-base05: 50 50 50; /* near-black */
  --color-base06: 30 30 30;
  --color-base07: 0 0 0; /* black */
  --color-base08: 255 0 0;
  --color-base09: 255 165 0;
  --color-base0A: 255 255 0;
  --color-base0B: 0 128 0;
  --color-base0C: 0 255 255;
  --color-base0D: 0 0 255;
  --color-base0E: 255 0 255;
  --color-base0F: 128 0 0;
}
